<div class="container">
    <div class="row1">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1" style="color: white;">Search for products</label>
            </div>
            <button type="button" class="btn" style="color: white;"><i class="bi bi-search"></i></button>
        </div>
        <div class="button-container">
            <div>
                <button class="border-top">
                    <span>Catalogue</span>
                    <span> ›</span>
                </button>
            </div>
            <div>
                <button class="border-top">
                    <span>Company Literature</span>
                    <span>›</span>
                </button>
            </div>
            <div>
                <button class="border-top">
                    <span>Knowledge Base</span>
                    <span>›</span>
                </button>
            </div>
            <div>
                <button class="border-top">
                    <span>Product News</span>
                    <span>›</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div>
    <h5>Home>Products</h5>
</div>

<div class="card-container">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/3e246016ad7f4ec190c3eecc07e2ed18.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Screws and Bolts</h5>
            <a href=""><u>Machine Screws</u></a><br>
            <a href=""><u>Screws for Plastic</u></a><br>
            <a href=""><u>Hexagon Socket Screws</u></a><br>
            <a href=""><u>Hexagon Screws and Bolts</u></a><br>
            <a href=""><u>Set Screws</u></a><br>
            <a href=""><u>See the full range</u></a>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/3644db77562842bfa1a5b8230b62512a.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Nuts</h5>
            <a href=""><u>Standard Hexagon</u></a><br>
            <a href=""><u>Standard Flange</u></a><br>
            <a href=""><u>Nylon Insert</u></a><br>
            <a href=""><u>All Metal Self Locking</u></a><br>
            <a href=""><u>Weld</u></a><br>
            <a href=""><u>See the full range</u></a>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/b1524fa1188e4b6ebea1360bdf36f928.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Washers, Rings, Seals</h5>
            <a href=""><u>Washers</u></a><br>
            <a href=""><u>O-Rings</u></a><br>
            <a href=""><u>HBonded Seals</u></a><br>
            <a href=""><u>Circlips</u></a><br>
            <a href=""><u>Rings</u></a><br>
            <a href=""><u>See the full range</u></a>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/a6398c530f1243d4886d07258199acbb.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Fasteners for Metal</h5>
            <a href=""><u>Self Clinch Fasteners</u></a><br>
            <a href=""><u>Hank® Rivet Bushes</u></a><br>
            <a href=""><u>Blind Rivet Nuts</u></a><br>
            <a href=""><u>Blind Rivets</u></a><br>
            <a href=""><u>Weld Nuts</u></a><br>
            <a href=""><u>See the full range</u></a>

        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/90ff2b0c93bf407c8327ba47626e0c75.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Fasteners for Plastic</h5>
            <a href=""><u>Screws for Plastic</u></a><br>
            <a href=""><u>Inserts for Plastic</u></a><br>
            <a href=""><u>Compression Limiters</u></a><br>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/87fdbdb3cb8944c98d89c37e24c77afc.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Enclosure Hardware</h5>
            <a href=""><u>Locking Systems</u></a><br>
            <a href=""><u>Locks</u></a><br>
            <a href=""><u>Locks Components</u></a><br>
            <a href=""><u>Clamps and Terminals</u></a><br>
            <a href=""><u>Gaskets</u></a><br>
            <a href=""><u>See the full range</u></a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/00d6dac4e8c6439cba18f9ca29434ab7.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Plastic Hardware</h5>
            <a href=""><u>Circuit Board Hardware</u></a><br>
            <a href=""><u>Cable Management</u></a><br>
            <a href=""><u>Rivets and Panel Fasteners</u></a><br>
            <a href=""><u>Machine Screws</u></a><br>
            <a href=""><u>Nuts</u></a><br>
            <a href=""><u>See the full range</u></a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/00d6dac4e8c6439cba18f9ca29434ab7.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Cable Glands</h5>
            <a href=""><u>Hummel® Cable Glands and Accessories</u></a><br>
            <a href=""><u>Generic Cable Glands and Accessories</u></a><br>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/12aa0f5128714f97bbedd9ab3fd68775.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Security Fasteners</h5>
            <a href=""><u>Self Tapping Screws</u></a><br>
            <a href=""><u>Wood Screws</u></a><br>
            <a href=""><u>Self Drilling Screws</u></a><br>
            <a href=""><u>Nuts</u></a><br>
            <a href=""><u>See the full range</u></a><br>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/d20ad9b1a2ba4532a3730fced06f576d.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Spacers and Pillars</h5>
            <a href=""><u>Threaded Spacers</u></a><br>
            <a href=""><u>Threaded Pillars</u></a><br>
            <a href=""><u>Through Spacers</u></a><br>
            <a href=""><u>Tooling and Driver Bits</u></a><br>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/ad50d358e028414e83b52166a3c1ae72.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title"> Tooling and Driver Bits</h5>
            <a href=""><u>Standard Drivers</u></a><br>
            <a href=""><u>Security Drivers</u></a><br>
        </div>
    </div>

    






    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
            src="https://trfastenings.blob.core.windows.net/menu/b2fdcf05fb244729813093f9734bce43.jpg"
            alt="Card image cap">
        <div class="card-body" style="text-align: left;">
            <h5 class="card-title">Other Hardware</h5>
            <a href=""><u>Hose Clips and Clamps</u></a><br>
            <a href=""><u>Medical Hardware</u></a><br>
            <a href=""><u>Pins and Keys</u></a><br>
            <a href=""><u>Swivel Braked Castors</u></a><br>
            <a href=""><u>Swivel Castors</u></a><br>
            <a href=""><u>See the full range</u></a><br>
        </div>
    </div>
</div>